* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	line-height: 1.47;
	color: #6c798f;
}

a {
	font-weight: bold;
	color: #3967d6;
	text-decoration: none;
}

ul, ol{
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	line-height: 1.25;
	color: #000;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 22px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 18px;
}

.container {
	max-width: 400px;
	margin: 0 auto;
	padding: 0 10px
}

.pd20 {
	padding-left: 20px;
	padding-right: 20px;
}

.row {
	margin: 0 -10px;
}

.row:before,
.row:after {
	display: block;
	content: "";
	clear: both
}

.clearfix {
	display: block
}

.clearfix:before,
.clearfix:after {
	clear: both;
	display: block;
	content: ""
}

/* Form */
.form-field {
	position: relative;
}

label {
	font-size: 12px;
	font-weight: normal;
	line-height: normal;
	color: #7a869a;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="number"] {
	width: 100%;
	display: block;
	border: 0;
	border-bottom: solid 1px #e1e2e7;
	padding: 15px;
	font-family: Arial;
	font-size: 14px;
	font-weight: normal;
	line-height: normal;
	color: #7a869a;
	;
	transition: all .3s ease;
	outline: 0;
	margin: 0 0 12px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus {
	border-color: #3967d6;
	outline: 0;
}

::-webkit-input-placeholder {
	color: #7a869a;
}

:-ms-input-placeholder {
	color: #7a869a;
}

::placeholder {
	color: #7a869a;
}

input.error {
	box-shadow: 0 2px 4px -3px #ff1313;
	border-color: #ff1313;
}

input.valid {
	box-shadow: 0 2px 4px -3px #1bc23d;
	border-color: #1bc23d;
}

input[name="uname"],
input[name="fname"],
input[name="psw"],
input[name="otp"] {
	padding-left: 33px;
}

input[name="uname"] {
	background: url(../images/email.svg) left center /17px 21px no-repeat;
}

input[name="fname"] {
	background: url(../images/name.svg) left center /23px 25px no-repeat;
}

input[name="psw"] {
	background: url(../images/locked.svg) left center /17px 25px no-repeat;
}

input[name="otp"] {
	background: url(../images/OTP.svg) left center /24px 22px no-repeat;
}

input[type=checkbox] {
    vertical-align: middle;
    margin-right: 4px;
}

.errormsg {
	font-size: 12px;
	line-height: normal;
	color: #ff1212;
}

.errormsg a {
	font-weight: 700;
}

span.resend-otp {
    position: absolute;
    right: 10px;
    top: 18px;
    font-weight: 700;
    font-size: 12px;
    cursor: pointer;
}

/* Button Styling */
.btn,
button {
	padding: 16px 15px 15px;
	border-radius: 10px;
	border: solid 1px #3967d6;
	font-size: 16px;
	font-weight: bold;
	line-height: normal;
	text-align: center;
	color: #3967d6;
	display: inline-block;
	background: transparent;
	width: 100%;
	cursor: pointer;
	margin-top: 30px;
	outline: 0;
}

.btn.filled,
.btn:hover {
	color: #fff;
	background-color: #3967d6;
}

.btn.filled:hover {
	background: #345cbb;
}

/* Page */

.ie-sm-1,
.ie-sm-10,
.ie-sm-11,
.ie-sm-12,
.ie-sm-2,
.ie-sm-3,
.ie-sm-4,
.ie-sm-5,
.ie-sm-6,
.ie-sm-7,
.ie-sm-8,
.ie-sm-9 {
	float: left;
	padding: 0 10px;
}

.ie-sm-12 {
	width: 100%
}

.ie-sm-11 {
	width: 91.66666667%
}

.ie-sm-10 {
	width: 83.33333333%
}

.ie-sm-9 {
	width: 75%
}

.ie-sm-8 {
	width: 66.66666667%
}

.ie-sm-7 {
	width: 58.33333333%
}

.ie-sm-6 {
	width: 50%
}

.ie-sm-5 {
	width: 41.66666667%
}

.ie-sm-4 {
	width: 33.33333333%
}

.ie-sm-3 {
	width: 25%
}

.ie-sm-2 {
	width: 16.66666667%
}

.ie-sm-1 {
	width: 8.33333333%
}

.app-container {
	padding: 44px 17px 30px;
}

.app-content {
	min-height: calc(100vh - 74px);
	padding: 0px 20px 72px;
	border-radius: 20px;
	border: solid 3px #dfe1e6;
	position: relative;
}

.app-title {
	text-align: center;
	margin: 0 0 30px;
}

.app-title h1 {
	margin: 0 0 5px;
	line-height: normal;
}

.app-title img {
	max-width: 60px;
	margin: -30px auto 5px;
	display: block;
}

.app-title p {
    max-width: 280px;
    margin: 0 auto;
}

span.edit-email {
	position: absolute;
    right: 15px;
    top: 15px;
    font-weight: 700;
    font-size: 12px;
    cursor: pointer;
}

span.edit-email img {
    width: 20px;
}

.signin-method-options {
    text-align: center;
    margin: 0 0 30px;
}

ul#tabs {
    margin: 0;
    list-style: none;
    padding: 3px;
    border-radius: 10px;
    border: solid 1px #dfe1e6;
    display: inline-block;
}

ul#tabs li {
    display: inline-block;
}

ul#tabs li a {
    font-size: 12px;
    font-weight: bold;
    line-height: normal;
    text-align: center;
    color: #fff;
    padding: 11px 18px 9px;
    display: inline-block;
    border-radius: 8px;
    background-color: #3967d6;
}

ul#tabs li a.inactive {
    color: #6c798f;
    background: transparent;
}

.app-content-bottom {
    position: absolute;
    bottom: 12px;
    width: 100%;
    right: 0;
    left: 0;
}

.app-content-bottom p {
    font-size: 14px;
    text-align: center;
}

.app-content-bottom p a {
    display: block;
}


/* plan page */

.app-container.plan-page .container {
    max-width: 100%;
}

.ie-logo{width: 50px; height: 50px; margin: 0 auto 20px;}
.top-heading {
    text-align: center;
    font-size: 26px;
    line-height: 30px;
    color: #000;
    font-weight: 700;
}

.top-heading span{
	font-size: 16px;
    color: #6c798f;
    display: block;
    font-weight: 400;
	line-height: 22px;
	padding: 10px 0;
}
.divice-img {
	text-align: center;	
    padding-bottom: 10px;
}
.plan-heading {
	text-align: center;
	font-size: 16px;
	line-height: 22px;
	font-weight: 700;
}
.plan-items-wrapper{
	text-align:  center;
	padding-top: 30px;
	max-width: 826px;
	margin: 0 auto;
}
.plan-column{
	display: inline-block;
	width: 31.5%;
	vertical-align: top;
	text-align: left;
	border-radius: 10px;
	border: solid 1px #dfe1e6;
	padding: 26px 17px 15px 20px;
	margin: 0 15px 20px 0;
	position: relative;
}

.plan-column .recommended{
	border-radius: 6px;
    background-color: #fe1313;
    color: #fff;
    font-size: 10px;
    line-height: 10px;
    font-weight: 700;
    width: 110px;
    position: absolute;
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 3px 0 2px;
    left: 0;
    right: 0;
    top: -9px;
    bottom: 0;
    height: 15px;
}

.plan-row{
	overflow: hidden;
}

.plan-name {
    font-size: 22px;
    line-height: 22px;
    font-weight: 700;
	color: #000;	
    text-align: center;
}
.plan-name span{
	display: block;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #6c798f;
    padding: 5px 0;
}

.plan-cost{
	display: block;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
	color: #000;
	text-align: center;
	padding: 15px 0 0;
}
.plan-cost b {
    display: inline-block;
    font-size: 18px;
    padding: 0 3px 0 0;
}
.plan-cost span{
	display: block;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #6c798f;
    padding: 5px 0;
}

.plan-column button, .plan-column button:focus{
	color: #6c7990;
	font-size: 12px;
	padding: 8px 0;
	border: solid 1px #979797;
	margin: 15px 0;
	outline: 0;
}
.plan-featurelist li{
	font-size: 13px;
	line-height: 18px;
	position: relative;
	padding: 0px 0 4px 28px;
}
.plan-featurelist li:after {
	content: "";
    display: block;
    border-width: 0 3px 3px 0;
    height: 12px;
    width: 6px;
    border-color: #61c312;
    border-style: solid;
    transform: rotate(45deg);
    position: absolute;
    left: 10px;
    top: -1px;
}

.plan-featurelist li.text-disabled{
	text-decoration: line-through;
}

.common-h3heading{
	font-size: 14px;
	line-height: 18px;
	font-weight: 700;
	color: #000;;
	text-align: center;
	padding: 10px 0 25px 0;
}

#duration-container{
	display: none;
}

.duration-wrapper{
	max-width: 495px;
	margin: 0 auto;
	padding: 0 0 25px;
}

.duration-item-wrapper{
	border-top: solid 1px #dfe1e6;
}

.best-value{
	width: 86px;
	height: 14px;
	margin: -8px 0 2px 20px;
	padding: 2px 0 0 12px;
	border-radius: 6px;
	font-size: 10px;
	line-height: 12px;
	font-weight: 700;
	font-style: italic;
	color: #ffffff;
	background-color: #fe1313;
}

.feature-toggle{
	font-size: 12px;
	color: #000000;
	font-weight: 700;
	line-height: 18px;
	display: none;
}

.plan-column.active-plancard{
	border-color: #3967d6
}

.plan-column.active-plancard button{
	background-color: #3967d6;
	color: #ffffff;
	border-color: #3967d6
}

/* custom checkbox */
.checkbox_box{
	display: block;
	position: relative;
	cursor: pointer;
	font-size: 16px;
	line-height: 22px;
	padding: 0 0 0 25px;
	font-weight: 700;
	color: #000;
}
.checkbox_box input{
	position: absolute;
	opacity: 0;
	cursor: pointer;
}
.checkmark {
	position: absolute;
	top: 2px;
	left: 0;
	height: 17px;
	width: 17px;
	border: 1px solid #6c798f;
	background-color: #ffffff;
	border-radius: 50%;
}
.checkbox_box:hover input ~ .checkmark {
	background-color: rgba(0, 0, 0, 0.1);
}
.checkbox_box input:checked ~ .checkmark {
	background-color: #ffffff;
}
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
.checkbox_box input:checked ~ .checkmark:after {
	display: block;
}
.checkbox_box .checkmark:after {
	top: 3px;
    left: 3px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background: #3967d6;
}
.checkbox_box_wrapper {
    float: left;
}
/* end */

.select-item {
	border-bottom: solid 1px #dfe1e6;
	padding: 17px 0;
	overflow: hidden;
}

.discount-red{
	color: #fe1313;
	display: block;
}
.cost-time {
	float: right;
	font-size: 18px;
	color: #000000;
	font-weight: 700;
}

.disabled-price {
    color: #6c798f;
	text-decoration: line-through;
	position: relative;
	font-weight: 400;
	display: inline-block;
	padding: 0 5px 0 0;
}

.cost-time .rupee-icon::before{
	font-size: 16px;
	content: "₹";
}
.time-duration{
	display: block;
	text-align: right;
	font-size: 12px;
	line-height: 18px;
	color: #6c798f;
	font-weight: 400;
}
.auto-renewtxt{
	display: block;
	clear: both;
	font-style: italic;
	font-size: 13px;
	line-height: 20px;
	padding: 8px 0 0 0;
}


.payment-wrapper {
    max-width: 496px;
	margin: 0 auto;
	padding: 0 0 25px;
}

.payment-method{
	border-top: solid 1px #dfe1e6;
	padding-top: 20px;
	position: relative;
}

.payment-method .recommended{
	width: 98px;
    height: 14px;
    margin: -8px 0 2px 20px;
    padding: 2px 0 0 12px;
    border-radius: 6px;
    font-size: 10px;
    line-height: 12px;
    font-weight: 700;
    font-style: italic;
    color: #ffffff;
	background-color: #fe1313;
	position: absolute;
	top: 0;
}

span.select-check {
    display: inline-block;
    background: #fff;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    overflow: hidden;
	box-shadow: 0 0 0 1px #dfe1e6;
	cursor: pointer;
	margin: 0 5px -2px 0;
}

.payment-method-type.active-payment-mode span.select-check {
    background: #3967d6;
    box-shadow: 0 0 0 1px #3967d6, 0 0 0 2px #fff inset;
}

.payment-method-type{
	font-size: 14px;
	line-height: 18px;
	border-bottom: solid 1px #dfe1e6;
	margin: 0 0 15px;
	position: relative;
}

.payment-method-type:last-child{
	margin: 0;
}

.payment-typetext {
	display: inline-block;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    color: #000;
}

.payment-method-type p{
	font-size: 14px;
	line-height: 18px;
	color: #6c798f;
	font-style: italic;
	padding: 10px 0 15px;
}

.payment-method-type .info-icon{
	display: flex;
    background: #dfe1e6;
    height: 20px;
    width: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}

#profile-container{
	display: none;
}

.profile-wrapper {
    max-width: 495px;
    margin: 0 auto;
}

.profile-form{
	border: none;
}

.profile-form .form-row{
	border: none;
	padding-bottom: 20px;
}


.profile-form .form-row input{
    display: inline-block;
    width: auto;
    border-radius: 10px;
    border: solid 1px #dfe1e6;
	width: 48%;
	padding: 8px 10px 7px 20px;
	margin: 0;
}
.profile-form .form-row input:last-child{float: right;}
.profile-form .form-row input.edit-icon{
	background: url('../images/edit.svg') no-repeat 97.5% center;
	background-size: 18px;
	padding-right: 28px;
}
.btn-box button, .btn-box button:focus{
	padding: 15px 0 14px;
	border-radius: 10px;
	background-color: #3967d6;
	color: #ffffff;
	outline: 0;
}
.terms-text {
	text-align: center;
	padding: 15px 0;
}
.terms-text a{
    font-weight: 400;
}

.error-msg{
	color: #ff0000;
	font-size: 12px;
	line-height: 18px;
	padding: 10px 0 0 5px;
	display: none;
}
.profile-form .form-row input.error-highlightinput{
	border-color: #ff0000;
}

@media(min-width:768px){
	.plan-column:nth-child(3n) {
		margin: 0 0 20px 0;
	}
	.profile-form .form-row input:nth-child(2) {
		margin-left: 3%;
	}
}

@media(max-width:767px){
	.top-heading{
		font-size: 20px;
	}
	.top-heading span{
		font-size: 14px;
		padding: 0 0 10px;
	}
	.plan-column{
		width: 100%;
	}

	.plan-name{
		font-size: 16px;
		line-height: 20px;
		float: left;
		text-align: left;
	}
	.plan-cost{
		float: right;
		padding: 0;
		font-size: 18px;
	}
	.feature-toggle{
		display: block;
		float: left;
		padding: 7px 0 0 0;
		cursor: pointer;
		position: relative;
	}
	.feature-toggle i{
		display: inline-block;
	}
	.feature-toggle i:after {
		content: "";
		border-width: 0 0 2px 2px;
		border-color: #000;
		border-style: solid;
		position: absolute;
		height: 6px;
		width: 6px;
		top: 10px;
		right: -12px;
		transform: rotate(-45deg);
	}

	.feature-toggle.active-arrow i:after {
		transform: rotate(135deg);
		top: 14px;
		transform-origin: center;
	}

	.plan-column button, .plan-column button:focus{
		float: right;
		width: auto;
		margin: 0;
		width: 105px;
		padding: 7px 0;
	}
	.plan-featurelist{
		clear: both;
		display: none;
		padding: 10px 0 0 0;
	}
	.auto-renewtxt{
		font-size: 12px;
		line-height: 16px;
	}
	.profile-form .form-row input{
		padding: 9px 10px 9px 20px;
	}
	.profile-form .form-row {
		border: none;
		padding-bottom: 10px;
	}
	.form-row.top-inputbox input:nth-child(2) {
		float: right;
	}
	.form-row.contact-details input{
		width: 100%;
		margin: 0 0 10px;
	}
	.btn-box button{
		margin-top: 0;
	}
	i.payment-card-icon, i.payment-instant-icon {
		width: 20px;
	}
	.payment-method-type p{
		font-size: 11px;
	}
}
.sign-options {
    margin-top: 28px;
}

.sign-options > h4 {
    font-size: 12px;
    font-weight: normal;
    line-height: normal;
    text-align: center;
    color: #7a869a;
    position: relative;
    margin: 0 0 30px;
}

.sign-options > h4:before {
    content: "";
    background: #e1e2e7;
    height: 1px;
    position: absolute;
    left: 0;
    width: 100%;
    vertical-align: middle;
    top: 50%;
    transform: translateY(-50%);
}

.sign-options > h4 span {
    display: inline-block;
    padding: 0 5px;
    background: #fff;
    position: relative;
}

.sign-options ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sign-options ul li {
    width: calc(50% - 11px);
    margin-bottom: 20px;
}

.sign-options ul li a {
    display: flex;
    padding: 12px 16px 12px 45px;
    border-radius: 10px;
    border: solid 1px #dfe1e6;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    height: 100%;
    font-size: 12px;
    font-weight: normal;
    line-height: normal;
    color: #7a869a;
}

.sign-options ul li a img {
    max-width: 22px;
    width: 100%;
    position: absolute;
    left: 16px;
}

.sign-options ul li a strong {
    width: 100%;
}

.thankyou-benefits {
    margin-top: 30px;
}

.thankyou-benefits ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.thankyou-benefits ul li {
    width: 50%;
    text-align: center;
    padding: 0 10px;
    margin-bottom: 20px;
}

.thankyou-benefits ul li img {
    max-width: 50px;
    margin: 0 auto 9px;
    display: block;
}

@media(max-width: 360px) {
	.sign-options ul li a {
		padding: 12px 10px 12px 38px;
	}
	
	.sign-options ul li a img {
		left: 10px;
	}
}